{% extends 'base.html.twig' %}

{% block body %}
    <h1>Imageentity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imageEntity.id }}</td>
            </tr>
            <tr>
                <th>Issmall</th>
                <td>{% if imageEntity.isSmall %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ismain</th>
                <td>{% if imageEntity.isMain %}Yes{% else %}No{% endif %}</td>
            </tr>
        <tr>
            <th>Item</th>
            <td>{{ imageEntity.itemEntity }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('img_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('img_edit', { 'id': imageEntity.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
