{% extends 'base.html.twig' %}
{% block head %}
    <script src="{{ asset('js/catalog_common_up.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="container"></div>


    <div class="ui internally celled grid">
        <div class="row">
            <div class="three wide column">
                <div class="ui small vertical menu">
                    <div class="ui small icon input">
                        <input type="text" placeholder="Search small...">
                        <i class="search icon"></i>
                    </div>
                    <div class="item">
                        {% for parameter in paramsEntities %}

                            <div class="header">{{ parameter.label }}</div>
                            <div class="menu">
                                {% for value in parameter.values %}
                                <div class="ui form">
                                <div class="inline field">
                                        <div class="ui checkbox">
                                            <input type="checkbox"  tabindex="0" class="hidden param" filterdata="{{ parameter.name }}={{ value }}">
                                            <label>{{ value }}</label>
                                        </div>
                                </div>
                                </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="ui basic button" id="filter">
                        Filter
                    </button>
                </div>
            </div>
            <div class="nine wide column">
                <div class="ui celled relaxed list large">
                    {% for itemEntity in itemEntities %}
                        <div class="item">
                            {#<img class="ui avatar image" src="/images/avatar/small/daniel.jpg">#}
                            <i class="image big icon"></i>
                            <div class="content">
                                <a class="header">{{ itemEntity.name }}</a>
                                <div class="description">Price:
                                    <b>{{ (itemEntity.price/100) |number_format(2,'.') }}</b> BYN
                                </div>
                                <div class="description">Params:
                                    <label id="item#{{ itemEntity.id }}"></label>
                                    <script>
                                        var label = document.getElementById("item#{{ itemEntity.id }}");
                                        label.textContent = getStringParams("{{ itemEntity.params }}");

                                    </script>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
<script src="{{ asset('js/catalog_common.js') }}"></script>
{% endblock %}

